#root {
  margin: 0 auto;
  padding: 2rem;
}

.ascii {
  font-family: 'Courier New', Courier, monospace !important;
}

.App{
  display: flex;
  flex-direction: row;
}

.cmd, .intro {
  display:block;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column-reverse;
  }
  .cmd, .intro {
    width: 100%;
  }
}



.intro {
  text-align: center;
  /* overflow-x: hidden; */
  user-select: none !important;
}

.ascii-logo {
  font-family: monospace;
  white-space: pre;
}

.blink {
  width: 20px;
  height: 3px;
  display:inline-block;
  animation: blink 1s  infinite;
}

@keyframes blink{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.input-bar {
  display:block;
  background:none;
  outline:none;
  border:none;
  min-width: 70%;

}

.input-container {
  display:flex;
  flex-direction: row;
}

.container {
  display:flex;
  flex-direction: column;
}

.output {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  white-space: pre-line;
}